.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.formulario {
    background-color: var(--blanco);
    font-family: var(--fuentePrincipal);
    margin: 2rem auto 0 auto;
    width: 95%;
    padding: 0;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--negro);
    border-radius: 0.5rem;
}
.campo__field__textarea_unido {
    height: 20rem;

    flex: 1;
    border: 1px solid var(--negro);
    border-radius: 0.5rem;
}


.campo__boton_unido{
    justify-content: end;

    display: flex;
    margin-bottom: 2rem;
}

.boton {
    display: inline-block;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton_uniadoa_primario:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}

.boton_uniadoa_primario{
    display: inline-block;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    
    background-color: var(--negro);
}
